@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

.btn:hover {
    cursor: pointer;
}

* {
    font-family: 'Poppins', sans-serif, Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color: #f75f10;
    --text-color: #1a2428;
    --bg-color: #fff;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
    overflow-x: hidden;
}

section {
    /* margin-block: 1rem; */
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 /15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}

.profile span {
    font-size: 13px;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
    color: var(--orange-color);
}

.navbar {
    display: flex;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.navbar a:hover,
.home-active {
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

swiper-slide {
    background: #fff;
    display: flex;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    position: relative;
    width: 100%;
    display: flex;
    min-height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container img {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 200px;
    border-radius: 50%;
    box-shadow: rgba(17, 26, 23, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.home-text {
    padding: 0 150px;
}

.home-text span {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}

.home-text h1 {
    font-size: 2.4rem;
}

.btn {
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 160px;
}

.btn .bx {
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    background: var(--light-orange-color);
    transition: 0.2s ease;
}


.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.heading span {
    color: var(--green-color);
}

.categories {
    max-width: 80%;
    margin: auto;
    margin-block: 1.5rem;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.categories-container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.categories-container .box img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.categories-container .box h2 {
    font-size: 1rem;
    font-weight: 600;
    padding-block: 0.5rem;
}

.categories-container .box span {
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-block: 0.5rem;
}

.categories-container .box .bx {
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    border-radius: 5rem;
    margin-top: 2rem;
    position: absolute;
    bottom: -0.4rem;
    display: none;
}

.categories-container .box .bx:hover {
    background-color: var(--light-orange-color);
    transition: 0.2 all linear;
}

.categories-container .box:hover .bx {
    display: block;
    transition: 0.4 ease-in;
}

#categories>div.categories-container>div:nth-child(1) {
    background: #fef4ea;
}

#categories>div.categories-container>div:nth-child(2) {
    background: #e9f4e3;
}

#categories>div.categories-container>div:nth-child(3) {
    background: #faeaea;
}

#categories>div.categories-container>div:nth-child(4) {
    background: #eeeef9;
}

#categories>div.categories-container>div:nth-child(5) {
    background: #f7f6d7;
}

.products {
    max-width: 80%;
    margin: auto;
    margin-block: 1.5rem;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.products-container .box {
    position: relative;
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 /15%);
    border-radius: 0.5rem;
}

.products-container .box img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-container .box span {
    font-size: 0.8rem;
    font-weight: 500;
}

.products-container .box h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: var(--light-orange-color)
}

.products-container .box .price {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-orange-color);
}

.products-container .box .price span {
    color: var(--text-color)
}

.products-container .box .bx-cart-alt {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
}

.products-container .box .bx-cart-alt:hover {
    background-color: var(--light-orange-color);
    transition: 0.4s all linear;
}

.products-container .box .bx-heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: var(--light-orange-color);
    ;
}

.products-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 0;
    background: var(--light-orange-color);
    color: var(--bg-color);
    padding: 4px 18px;
    clip-path: polygon(100% 0%, 75% 51%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.about {
    max-width: 80%;
    margin: auto;
    margin-block: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.about img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-size: cover;
}

.about-text span {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-color);
}

.about-text p {
    margin: 0.5rem 1rem;
}

.footer {
    /* max-width: 80%; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #fef4ea;
    border-radius: 0.5rem;
    padding: 20px;
}

.footer-box {
    display: flex;
    flex-direction: column;

}

.footer-box p {
    font-size: 0.9rem;
    margin: 0.5rem 1rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    padding: 10px;
    background: var(--bg-color);
    color: var(--green-color);
    border-radius: 5rem;
    font-size: 20px;
}

.social .bx:hover {
    background: var(--green-color);
    color: var(--bg-color);
    transition: 0.2 all linear;
}

.footer-box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a {
    color: #868a92;
    margin-bottom: 1rem;
}

.footer-box a:hover {
    color: var(--light-orange-color);
}

.footer-box form {
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: space-between;
}

.footer-box form input {
    background: transparent;
    border: none;
    outline: none;
}

.footer-box form .bx {
    font-size: 20px;
    color: var(--light-orange-color);
    cursor: pointer;
}

.copyright {}

/*CUSTOM AND RESPONSIVE*/


/*CUSTOM*/

/*Start Custom scrollbar*/
::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--light-green-color);
}

::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background: var(--green-color);
    border-radius: 5px;
}

/*End Custom scrollbar*/


/*RESPONSIVE*/
@media(max-width:1080px) {
    header {
        padding: 18px 60px;
    }

    .home-text {
        padding: 0 100px;
    }

    .container img {
        right: 100px;
    }
}

/*RESPONSIVE*/
@media(max-width:991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .home-text h1 {
        font-size: 2rem;
    }

}

@media(max-width:852px) {
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgb(14 55 54 /15%);
        transition: 0.4s all linear;
        text-align: right;
    }

    .menu-active {
        top: 100%;
    }

    .navbar a {
        padding: 0.8rem;
        margin: 0.8rem;
        display: block;
    }

    .navbar a:home,
    .navbar,
    .home-active {
        border-radius: 0.5rem;
        color: var(--bg-color);
    }

    .home-text h1 {
        font-size: 1.7rem;
    }

    .container img {
        width: 390px;
    }

    .btn {
        /* padding: 0.6rem 1.2rem; */
    }

    .products-container {
        grid-template-columns: repeat(auto-fit, minmax(244px, auto));
    }

    .about img {
        order: 2;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:712px) {
    .container img {
        right: 20px;
    }

    .heading h1 {
        font-size: 1.2rem;
    }

    .about {
        grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    }

    .about img {
        order: 2;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .btn {
        max-width: 164px;
    }
}

@media (max-width:969px) {
    .about img {
        display: none;
    }
}